/* ILARIONOV add-ons */
.verify {/* Validators HTML/CSS */
	float: right;
}

.menuHorizontal {
	border: 1px solid blue;
	border-radius: 0px 15px 0px 15px ;
	padding: 5px;
	text-decoration: none;
	color: blue;
	background: #f0f0f0; /* Цвет фона */
	width: 50%;
	min-width: 425px;
	/*display: inline-block;*/
	overflow: auto;
}

.menuHorizontal:hover{
	color: red;
	background-color: gold;
}
.menuHorizontal a{
	color: blue;
	border-bottom-style: dotted; /* Стил на линията отдолу */
}

.menuAlign{
	text-align: center;
}

h2 {
	text-align: right;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}
