body {
    font-family:stylo,Verdana,sans-serif;font-size:0.8em;
}
header,footer,section,article {
    border:0px Red;
    margin:5px;margin-bottom:15px;padding:8px;
    background-color:white;
}
header,footer {
    background-color:LightGoldenRodYellow;margin-bottom:6px;
}
section {
    background-color:LightYellow;
}
nav ul {
    margin:0;padding:0;
}
nav ul li {
    display:inline; margin:5px;
}